In [1]:
import pandas as pd
import numpy as np

**Value of encoding may differ for linux machine**

In [2]:
df = pd.read_csv('JC_2022.csv',encoding="cp1252")

In [3]:
df.head()

,Invoice Number,ITEM_NUMBER,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,SJNTP2223000011,JNMSERX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SCSOH2223000171,CSSER82.5TO250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SCSNO2122001500,CSRAD750TO1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SCSNO2122001501,CSSER82.5TO250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SJNSL2122000335,JNSERV66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
columns = list(df.columns)

In [ ]:
columns

In [5]:
df2 = df[['Invoice Number','ITEM_NUMBER']]

In [6]:
df2.head()

    Invoice Number     ITEM_NUMBER
0  SJNTP2223000011         JNMSERX
1  SCSOH2223000171  CSSER82.5TO250
2  SCSNO2122001500  CSRAD750TO1010
3  SCSNO2122001501  CSSER82.5TO250
4  SJNSL2122000335        JNSERV66

In [7]:
df2.shape

(249159, 2)

In [13]:
df2.dtypes

Invoice Number    object
ITEM_NUMBER       object
dtype: object

In [12]:
df2 = df2.astype({"Invoice Number": str})

In [14]:
df2 = df2.astype({"ITEM_NUMBER": str})

In [15]:
grouped = df2.groupby('Invoice Number')['ITEM_NUMBER'].apply(','.join).reset_index()

In [16]:
grouped.head()

  Invoice Number          ITEM_NUMBER
0  1-13849074703  AX1001912,AX1008223
1  1-13849074714            AX1001907
2  1-13855034946            AX1001912
3  1-13855034953            AX1001907
4  1-13861233910  AX1008626,AX1008224

In [17]:
grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90893 entries, 0 to 90892
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice Number  90893 non-null  object
 1   ITEM_NUMBER     90893 non-null  object
dtypes: object(2)
memory usage: 1.4+ MB

In [18]:
#deleting original dataframe to free memory
del df

In [19]:
# Create a list of transaction
grouped['ITEM_NUMBER']= grouped['ITEM_NUMBER'].apply(lambda x: x.split(','))

In [20]:
grouped.head()

  Invoice Number             ITEM_NUMBER
0  1-13849074703  [AX1001912, AX1008223]
1  1-13849074714             [AX1001907]
2  1-13855034946             [AX1001912]
3  1-13855034953             [AX1001907]
4  1-13861233910  [AX1008626, AX1008224]

In [21]:
grouped.shape

(90893, 2)

In [22]:
grouped = grouped.iloc[0:6000]
#grouped = grouped.iloc[0:2000]

In [23]:
# Convert the transaction list from a DataFrame column into a list of strings
transactions = list(grouped['ITEM_NUMBER'])

In [ ]:
transactions

In [ ]:
len(transactions)

In [24]:
temp = grouped['ITEM_NUMBER'].str.len()

In [ ]:
temp.head()

In [ ]:
temp.describe()

In [ ]:
# Count a transaction which contains 5285612, 5319245, and 5349496
type(transactions)

In [ ]:
transactions.count(['5285612', '5319245', '5349496'])

In [25]:
# Count the number of rules

# Import library to count the number of permutations
from itertools import permutations

# Extract unique items.
unique_items = [item for transaction in transactions for item in transaction]

# Convert the unique item list from a string to a list
unique_item_list = list(set(unique_items))

# Compute and print rules.
rules = list(permutations(unique_item_list, 2))

In [26]:
len(unique_items)

24468

In [27]:
print(len(rules))

3585342

In [ ]:
#print(rules)

##  Basic Metrics

In [28]:
# Import the library for encoding
from mlxtend.preprocessing import TransactionEncoder

# Instantiate transaction encoder
encoder = TransactionEncoder().fit(transactions)

In [29]:
# One-hot encode itemsets by applying fit and transform
onehot = encoder.transform(transactions)

# Convert one-hot encoded data to DataFrame
onehot = pd.DataFrame(onehot, columns = encoder.columns_)
print(onehot)

      0098-7902-01  0098-8104-03  0102-1537  0102-1543  0103-0876  0110-4010  \
0            False         False      False      False      False      False
1            False         False      False      False      False      False
2            False         False      False      False      False      False
3            False         False      False      False      False      False
4            False         False      False      False      False      False
...            ...           ...        ...        ...        ...        ...
5995         False         False      False      False      False      False
5996         False         False      False      False      False      False
5997         False         False      False      False      False      False
5998         False         False      False      False      False      False
5999         False         False      False      False      False      False

      0110-4012  0110-4027  0110-4028  0110-4029  ...  S   923    E  \
0         False      False      False      False  ...         False
1         False      False      False      False  ...         False
2         False      False      False      False  ...         False
3         False      False      False      False  ...         False
4         False      False      False      False  ...         False
...         ...        ...        ...        ...  ...           ...
5995      False      False      False      False  ...         False
5996      False      False      False      False  ...         False
5997      False      False      False      False  ...         False
5998      False      False      False      False  ...         False
5999      False      False      False      False  ...         False

      S   985    C  S  1003    A  S  1047    A  S  1059  S  1650  \
0            False         False         False    False    False
1            False         False         False    False    False
2            False         False         False    False    False
3            False         False         False    False    False
4            False         False         False    False    False
...            ...           ...           ...      ...      ...
5995         False         False         False    False    False
5996         False         False         False    False    False
5997         False         False         False    False    False
5998         False         False         False    False    False
5999         False         False         False    False    False

      S 16004    A  S 16052  S 16093    nan
0            False    False    False  False
1            False    False    False  False
2            False    False    False  False
3            False    False    False  False
4            False    False    False  False
...            ...      ...      ...    ...
5995         False    False    False  False
5996         False    False    False  False
5997         False    False    False  False
5998         False    False    False  False
5999         False    False    False  False

[6000 rows x 1894 columns]

In [30]:
onehot.columns=onehot.columns.str.replace('[-, ,_]','')

C:\Users\sjj920315\AppData\Local\Temp\ipykernel_18740\1046257701.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  onehot.columns=onehot.columns.str.replace('[-, ,_]','')

In [31]:
onehot

,0098790201,0098810403,01021537,01021543,01030876,01104010,01104012,01104027,01104028,01104029,...,S923E,S985C,S1003A,S1047A,S1059,S1650,S16004A,S16052,S16093,nan
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Creating dictionary and List to get part number and description

In [32]:
parts_cummins = pd.read_excel("CSS Partinfo.xlsb")

In [33]:
colm = parts_cummins.columns
colm = colm[2:]

In [34]:
parts =parts_cummins.drop(colm,axis=1)

In [35]:
parts = parts[:-1]

In [36]:
parts.tail()

            ITEM                                     ITEMNAME
70988  AX1003618  RECONDITIONED ALTERNATOR FOR 160 KVA DG SET
70989  AX1005081                             SEALING,PUSH ROD
70990  AX1004752                                   CRANKSHAFT
70991  AX1004865                          CYLINDER HEAD MINOR
70992  AX1004930             PLATE IDLER GEAR RETAINING LOWER

In [37]:
parts['ITEM'] = parts['ITEM'].replace(r'[^\w\s+]|_', '', regex=True)

In [38]:
parts['ITEM'] = parts['ITEM'].replace(" ",'', regex=True)

In [39]:
parts_list = parts['ITEM'].to_list()

In [40]:
parts_list = [str(r) for r in parts_list]

In [41]:
parts_list

['4958439',
 '3393077',
 '3814720',
 '4894306',
 'A046W832',
 'C6141211530',
 '0800661963',
 'AK10149SS',
 'AR60740',
 '554013',
 '3046942',
 'AX1012769',
 '4926782',
 '503929A',
 '05070048',
 '3229938',
 '3538350',
 'AX1014391',
 '69751',
 '4089730NX',
 '4042265',
 '5269423',
 'A040F057',
 '4919360',
 '5269717',
 '3016344',
 '5278762',
 '80010477',
 '217008',
 '3642922',
 '3249599',
 '4939853',
 'A034S891',
 'A034N735',
 '3249587',
 '3249733',
 '3086060',
 'RX3232595',
 '556711',
 '05170477',
 'AX1005736',
 '03324404',
 '3636373',
 'AX1007495',
 '4922210',
 '01856503',
 '4007663NX',
 '5413017',
 'S510',
 'A046G653',
 '0333063402',
 '3877208',
 '4101372',
 '01856574',
 '3249442',
 'C6204211610',
 '4105926',
 '3015545',
 '4054729',
 '3235613',
 '9278',
 '211722',
 'A052E125',
 'A066E748',
 'A052W678',
 '3001722',
 '4007582',
 '4928594',
 '115034',
 '3970546',
 '3054219',
 '3878275',
 'S123B',
 '3052587',
 'AK10075SS',
 '3873807',
 '3814032',
 'RX3085964',
 '3877027',
 'A041S481',
 '500412',
 '4372338',
 '3016787',
 '3002956',
 '3863522',
 'RXC6008631410',
 'AX1014203',
 '3081076',
 '3414584',
 '3815914',
 '213485',
 '3963983',
 '3052820',
 '3920603',
 'S995',
 '4957919',
 '108307',
 '3046419',
 '3054889',
 'AK4030SS',
 '4084887',
 '0338387001',
 'AX1015308',
 '4386219',
 '3411290',
 'A047R074',
 '3201919',
 '3167816',
 '5276769',
 '01305709',
 '3392672',
 '2880044',
 'A040L186',
 '4007165',
 '3166619',
 '4957714',
 '4089368',
 'RX3533197',
 '3916302',
 '3279720',
 '3249459',
 '3635035',
 'ST1264',
 'ST1318',
 'ST1327',
 '3817029',
 '3945268',
 '3944167',
 '3943740',
 '3957592',
 '3945918',
 '3964093',
 '4021058',
 '4021362',
 '4021371',
 '3255321',
 '3255764',
 '3253714',
 '3635124',
 '3635129',
 '3277099',
 '3638603',
 '144490',
 'RX4956667',
 '4027881',
 'A052P683',
 '01866685',
 'T83302910',
 '01308485',
 '4085324',
 '500851',
 '4992163',
 '4089201',
 'A044K217',
 '3002425',
 '5405345',
 '0155496904',
 '4945007',
 '3955069',
 '01308324',
 '3018767',
 'AX1005298',
 'AX1006173',
 '3001352',
 'J0402000505',
 '138993',
 '2882673',
 '05090590',
 '143085',
 '3245111',
 '4936026',
 '3925964',
 '3092716',
 '3685960',
 '4950612',
 'AX1006073',
 '3901764',
 'RX3873947',
 '3968806',
 'A040K585',
 '2881910',
 '3920802',
 '3931914',
 '3249324',
 '0149233102',
 '4946299',
 '4095922',
 '5333474',
 '3249337',
 '3630242',
 '123146',
 '3904648',
 '05202703',
 '3103372',
 '3393581',
 'A065K044',
 '4345071',
 '4911618',
 'AX1005396',
 '02490797',
 '3920758',
 '3918667',
 '3624451',
 '3636085',
 '3005590',
 '01307792',
 '3933841',
 '3666075',
 '3666119',
 '01492954',
 'AX1009058',
 '3049145',
 '3095130',
 '5529797',
 '3375470',
 '4085307',
 'AR9633',
 '3937660',
 '4945774',
 '4954880',
 '0320229101',
 '3906790',
 '3523592',
 '3874949',
 'AX1005907',
 '505409',
 '0130798602',
 '4963703',
 '4020488',
 '3877466',
 '3232953',
 '3280796',
 '3392318',
 '5260025',
 '3250939',
 'NI910036134',
 '3231517',
 '3085857',
 'AX1002142',
 '3930668',
 '216864',
 '3176910',
 '3911570',
 '03065442',
 '5525521',
 '3167054',
 '3287423',
 '0200331203',
 'AX1013566',
 'A046E840',
 '05021659',
 '3034958',
 '3681898',
 'C0143520612',
 '4027924',
 '4020538',
 'A056T663',
 'A054G986',
 '23010269',
 '3903384',
 '05033234',
 'AX1005631',
 'AX1005568',
 '3872373',
 '216693',
 '4950114',
 '4054901',
 'AX1015141',
 'HCI54C400B1',
 '4323079',
 '3088308',
 '4309353NX',
 'AX1005380',
 '3928229',
 '05032196',
 '03005315',
 '3225171',
 '3684414',
 '4998570',
 '44676',
 '3238077',
 'A049M997',
 '196112',
 '4911991',
 '3874472',
 '03385342',
 'AX1006416',
 '3094045',
 'AX1013192',
 'AX1015294',
 'A063D324',
 '4015881',
 '4009247',
 '3283686',
 '4955665',
 '4033542',
 '3044849',
 'AX1004914',
 '3234881',
 '3167927',
 '3911586',
 '2865104',
 '198962',
 '3644292',
 'AX1002250',
 'A061B617',
 '3233112',
 '0309064105',
 'AK160306MS',
 '4918725',
 '3094028',
 'A064G364',
 '4020483',
 'AX1014274',
 '01855777',
 '3637752',
 '3817032',
 '3379182',
 '3898182',
 '4964229',
 '4963544',
 '3245082',
 '3240697',
 '3594172',
 '3092904',
 '3376495',
 'J01308849',
 '3932529',
 'AX1005536',
 '3638475',
 '01306623',
 'AX1012937',
 '3645962',
 'AX1006267',
 '4955525',
 'A046W412',
 'AX1002662',
 '3804891',
 '5339449',
 'A054Y263',
 '5310311',
 'A041F023',
 '3863993',
 '4068583',
 'A042L827',
 '3417958',
 '4096470',
 '4100433',
 'AK4018MS',
 '2885348',
 '4095525',
 '05410809',
 '3965953',
 '3408345',
 '3026236',
 '3028180',
 '2872792',
 '4948168',
 '3004259',
 '3089796',
 '3414420',
 'AR5109',
 '3236888',
 '3865155',
 '4955955',
 'RO4382239',
 '01305554',
 '3166878',
 '3942748',
 '3376754',
 '207535',
 'AX1014893',
 '3052170',
 'S115A',
 '3230434',
 '5340055',
 '3240325',
 '3201060',
 '3288845',
 '3910755',
 '3929028',
 '3897538',
 '4980390',
 '3607276',
 '4036307',
 'A034W239',
 '4105981',
 '4069778',
 '101834',
 '3230211',
 '5300876',
 '505324',
 'A061W593',
 '3330658',
 '3069689',
 'AX1012966',
 '3875323',
 '3966450',
 'A055S175',
 'RX4020861',
 '3781591',
 'A050T563',
 '0200313602',
 '4970363',
 '4096049',
 '01320475',
 '3897972',
 '178572',
 '3228265',
 '3229212',
 'AK4088SS',
 '4104880',
 '4918212',
 '206511',
 'AX1014471',
 'A051N572',
 '5305340',
 '4334668',
 'AX1003734',
 '3412920',
 '3098353',
 '3082573',
 '102397',
 'AX1004735',
 '3177198',
 '3636262',
 '2879299',
 'AX1003670',
 '3974642',
 '4086588',
 '3420742',
 '5394247',
 'RO3076703',
 '3392749',
 '3970139',
 'NI910042937',
 '4330744',
 '4956000',
 '5302028',
 '2873258',
 '3909394',
 'A061M513',
 'RX3913269',
 '3879460KE214',
 '4348577',
 '3092610',
 'AX1006125',
 '4928637',
 '3008591',
 '4950139',
 'AX1007553',
 '3089298',
 'A024J110',
 '05032522',
 '4913173',
 '3599718',
 '3163400',
 'A065N206',
 'RO3920867',
 'AX1005082',
 '3092246',
 'AX1015953',
 'AX1006696',
 '3814490',
 '64490',
 '3824541',
 'RX3070889',
 'AX1015955',
 '4981575',
 '5262624',
 'KIT4105238',
 '3200943',
 '4939857',
 '2865451',
 'AX1006448',
 '4990979',
 'A066P898',
 '3249566',
 '4083954',
 '4912678',
 '5279084',
 '4919767',
 '3529035',
 '3680140',
 '3008876',
 '3685860',
 '3288678',
 '4053630',
 'KIT3880634',
 '3074354',
 '03384739',
 '3804666',
 'A054L670',
 '5563305',
 '3698067',
 '137990',
 '01855502',
 '4926762',
 '4055717',
 '3523556',
 '2868200',
 'A049J724',
 '4105839KF95',
 '500946',
 '218499',
 '4068549',
 '3886350',
 '4926959',
 '4086158',
 '5583127',
 '4912604',
 'A062T785',
 '0304083103',
 '5324151',
 '01819124',
 '3863822',
 '3923883',
 '208118',
 '3877688',
 '4105956',
 '500343',
 '3685700',
 'A044X404',
 '3246528',
 '3957380',
 '3236300',
 'AX1006280',
 '200584',
 '3877719',
 'RXAR40039',
 '5286815',
 '4953321',
 '4104509',
 '5363429',
 'A051H103',
 '207312',
 '0860212721',
 '3225305',
 '3053159',
 '3533163',
 'AX1007254',
 '4055380',
 '2879966',
 '01403890',
 'AX1006858',
 '3800529',
 'RX4089981',
 '145551',
 'KIT4968318',
 '3231923',
 '01857076',
 '3641139',
 '205466',
 '4941369',
 '3029626',
 '4975709',
 '4000713',
 'AX1013240',
 '3974600',
 '3017993',
 '3594034',
 '4926703',
 '3332148',
 '5295568',
 '4080535',
 'C6204114810',
 '141634',
 'BM40951',
 '3524421',
 '4962840',
 '3335044',
 'AR5115',
 'AR5125',
 '4980030',
 '4930897',
 '3970976',
 '3249559',
 '3413810',
 '05052550',
 '3042591',
 '4387613',
 '03385329',
 '3935326',
 '5405482',
 '4901349',
 '3873050',
 '4065739',
 '3234949',
 'RO2879737KE374',
 'AX1016296',
 '3226062',
 '102296',
 '3898495',
 '3069114',
 'BM54901',
 '4939801',
 'J01308318',
 '03383730',
 '3249496',
 '154277',
 '4968393',
 '4950383',
 '5405129',
 '199568',
 'AX1006503',
 'A060K940',
 '3593410',
 '01856567',
 '0403640204',
 '3411370',
 'KIT3238606',
 '3008847',
 '4017194',
 '3249281',
 '3914013',
 '3790201',
 '4037497',
 '62182',
 'A059P172',
 'A060C750',
 '5543936',
 'A060J486',
 'A060K936',
 'A042T459',
 'A051Y594',
 'A055C964',
 'A063G245',
 'A063N867',
 'A063V407',
 'RO3641571',
 'A064C369',
 '5572828',
 '5611344',
 '3238975',
 '3521817',
 '502903',
 '5289626',
 '4003264',
 '3027677',
 '5274349',
 '5525353',
 '05021245',
 '05411234',
 '0800301719',
 '4058095',
 '3229321',
 '4059455',
 '3228716',
 '3228741',
 '4058968',
 '3229639',
 '3229610',
 '4058964',
 '3228250',
 '148076',
 '3022209',
 '100671',
 '3024989',
 '3022463',
 '4105621',
 '4896897',
 '4042623',
 '3239268',
 '4105674',
 '4964133',
 '5303406',
 'A054H720',
 'A054P343',
 'A056P729',
 'A056S555',
 'SO63159',
 '3349001',
 'A052J608',
 '4105658',
 '4105319',
 '4105323',
 '4105604',
 '3876071',
 '3876155',
 '212603',
 '3392073',
 '3376323',
 '3375459',
 '3909355',
 '3902023',
 '4940117',
 'AX1006274',
 '3804938',
 'AX1001686',
 'AX1001689',
 '3810298',
 '3876097',
 '3813732',
 'AR9022',
 '3937449',
 '4081093',
 '3233715',
 '3233574',
 '3375935',
 '3232074',
 '3233597',
 '3233604',
 '3166480',
 '3232503',
 '4913129',
 '4913004',
 '4913019',
 'AK6040ST',
 'AR45224',
 'AR12780',
 '4954431',
 '3338243',
 'AR13010',
 '4964687',
 '4964704',
 'AX1004657',
 'AX1004617',
 'AX1004553',
 'AX1004572',
 'AX1004542',
 'AX1004642',
 '3287422',
 '3285102',
 '3286499',
 '3336141',
 '3375278',
 '3025460',
 '4968091',
 '4968133',
 '4968137',
 '4964680',
 'A028Y124',
 'A065A513',
 '4978619',
 '4906023',
 'A058L339',
 'A064W138',
 '5694301',
 'A062P051',
 'RX5327831',
 'A065A409',
 'A048C856',
 'A066M747',
 '3686790',
 '3058868',
 'A055Z211',
 'A066K570',
 'AX1015539',
 '5581026',
 '5264248',
 '3047575',
 '4934279',
 '3949781',
 'AX1012855',
 '4089854',
 '01857050',
 '5402579',
 '3863996',
 '5626215',
 '5561753',
 'AX1015938',
 '30256609017',
 '4937910',
 'AX1007390',
 '5450754',
 '3969343',
 '3936838',
 'A062J296',
 'A062Y122',
 '3970799',
 'RX4044418',
 'RX3584121',
 '03385234',
 '2865101',
 '4096410',
 '03006506',
 '03006503',
 '03006510',
 '03006569',
 '3415318',
 '3415658',
 'A062T986',
 'A062T987',
 '5411406',
 '4054091',
 '0334230002',
 'A043V941',
 '0800662037',
 '0319738902',
 '01554694',
 'A046E940',
 '0870224805',
 'A045L600',
 'A041Z162',
 '0332392702',
 'A041X346',
 '0155501002',
 '0319606202',
 '3168221',
 '4350611',
 '0130727802',
 '4350628',
 '4334445',
 '4328170',
 'A043N002',
 '01855908',
 '01855893',
 '01856000',
 '01856985',
 '01855866',
 '4001152',
 '0800661934',
 '0800661952',
 '0800661947',
 '0800661946',
 '0800661932',
 '0800661970',
 '0800661942',
 '0800661944',
 '0800661972',
 '4323082',
 '3959841',
 '5405754',
 '0320247904',
 '0320247905',
 '0320247909',
 '03073199',
 'A047A499',
 'A043F989',
 'A043S906',
 '4989115',
 '2885136',
 '4939831',
 '4940611',
 '4089877',
 '4948642',
 '3047992',
 'AX1013268',
 'AX1013257',
 '3090256',
 '4037629',
 '3631242',
 '4932908',
 '3893850',
 '3824820',
 '3683607',
 '3821470',
 '119364',
 '03196949',
 '03330790',
 '5264214',
 '0402077905',
 '3824424',
 'J01308608',
 'AX1012822',
 '4054071',
 '4054093',
 'A048K611',
 'A048K615',
 'A048G165',
 'AX1013754',
 'A048P490',
 '05411146',
 '3287300',
 '4955521',
 'A048N787',
 '3025997',
 '4345156',
 '4345166',
 '4334001',
 '5303139',
 '5293884',
 'A048N508',
 'A048H279',
 'A048K954',
 'AX1001382',
 'AX1001412',
 'AX1001415',
 'AX1001376',
 'AX1001318',
 'AX1001320',
 'RC4913146',
 'RO3523070',
 '3882774',
 '3897387',
 '3898020',
 '3898627',
 '3074422',
 '211968',
 'AX1007447',
 'AX1001426',
 'AX1001430',
 'AX1001482',
 '3230216',
 '4072921',
 '4072094',
 '3627662',
 'KIT3238327',
 '4302609',
 '4030864',
 '3800765',
 '5552790',
 '4963832',
 '5621847',
 'A064S132',
 'A056H970',
 '3165643',
 '0323167802',
 '3000934',
 '4078400',
 '3230406',
 'NI910022198',
 'NI181027197',
 '0332402504',
 'A043K974',
 'A043K944',
 'A043L434',
 'A043L448',
 'A042Z616',
 '0320222405',
 '0319605402',
 '0403628901',
 '4944182',
 '4944183',
 '4955573',
 'NI910021655',
 'NI0E00031',
 '4982558',
 '5335052',
 '500346',
 'AR96066',
 'AR96295',
 '142248',
 '140205',
 '120918',
 '109557',
 '0503220406',
 '4938940',
 '4096694',
 'A040G506',
 '5277340',
 '3640332',
 '4945814',
 '3521918',
 '500943',
 '501085',
 '500327',
 '5419151',
 '5409684',
 '5419859',
 '5554134',
 '5563435',
 '5587214',
 '3627781',
 '3179672',
 '3640314',
 '5373059',
 'A065P204',
 '3648157',
 '5466253',
 '5419463',
 '5419450',
 '5505282',
 '4312970',
 '5466563',
 'A051F130',
 'A051G202',
 '00988446',
 '0800652723',
 '4333011',
 '4333020',
 '5316752',
 '5289711',
 'A051K941',
 'A050A994',
 'A051L117',
 'A051L121',
 '2897654',
 '3649443',
 'AX1008843',
 '4331003',
 'A051K203',
 'A051E688',
 'RX3803360',
 'RX3810432',
 'RX3879479',
 'RX4000590',
 'RX3878571',
 'RX3878723',
 'RX3879164',
 '03231384',
 '102483',
 '05051490',
 '05090196',
 '105293',
 '128129',
 '124547',
 '3802627',
 '3802628',
 'RO4056378',
 ...]

In [42]:
parts = parts.set_index('ITEM')
parts.index = parts.index.astype('str')

In [43]:
part_dict = parts.agg(list,axis=1).to_dict()

In [ ]:
part_dict

In [44]:
columns_encoded = onehot.columns

In [45]:
columns_encoded

Index(['0098790201', '0098810403', '01021537', '01021543', '01030876',
       '01104010', '01104012', '01104027', '01104028', '01104029',
       ...
       'S923E', 'S985C', 'S1003A', 'S1047A', 'S1059', 'S1650', 'S16004A',
       'S16052', 'S16093', 'nan'],
      dtype='object', length=1894)

In [46]:
result = [i for i in parts_list if i in columns_encoded]

In [47]:
len(result)

1056

In [48]:
index_no = []
try:
    for x in result:
        index_no.append(onehot.columns.get_loc(x))
except:
    pass

In [49]:
index_no

[1138,
 431,
 716,
 533,
 1071,
 514,
 992,
 722,
 736,
 435,
 853,
 1400,
 1024,
 911,
 747,
 694,
 688,
 1273,
 449,
 145,
 988,
 1093,
 268,
 1133,
 1373,
 1316,
 733,
 1152,
 1221,
 783,
 344,
 758,
 317,
 618,
 1383,
 1261,
 178,
 750,
 583,
 1864,
 812,
 355,
 174,
 1869,
 461,
 433,
 466,
 1034,
 97,
 425,
 1207,
 1058,
 877,
 1459,
 30,
 1100,
 549,
 642,
 624,
 972,
 284,
 311,
 597,
 845,
 674,
 1214,
 1241,
 773,
 1189,
 170,
 346,
 554,
 1862,
 1463,
 1052,
 860,
 928,
 820,
 566,
 648,
 875,
 1096,
 1194,
 1124,
 581,
 488,
 849,
 281,
 1464,
 1170,
 24,
 23,
 486,
 1267,
 535,
 313,
 1279,
 1037,
 884,
 37,
 637,
 233,
 1239,
 538,
 458,
 497,
 221,
 737,
 658,
 731,
 227,
 1292,
 703,
 1047,
 1171,
 282,
 304,
 1369,
 1246,
 826,
 543,
 1210,
 1184,
 1276,
 416,
 1065,
 1091,
 4,
 1289,
 199,
 929,
 1399,
 668,
 1880,
 742,
 1118,
 803,
 825,
 298,
 1136,
 800,
 685,
 1144,
 1321,
 394,
 971,
 1450,
 444,
 197,
 740,
 140,
 1019,
 1446,
 1113,
 956,
 718,
 719,
 1890,
 440,
 1300,
 387,
 315,
 574,
 55,
 1398,
 899,
 182,
 1358,
 1153,
 935,
 1252,
 1051,
 836,
 974,
 159,
 167,
 1090,
 269,
 729,
 666,
 1866,
 414,
 590,
 419,
 357,
 309,
 1074,
 1169,
 129,
 1442,
 335,
 1198,
 614,
 1211,
 665,
 462,
 19,
 43,
 1025,
 1855,
 473,
 456,
 256,
 1888,
 390,
 429,
 86,
 542,
 555,
 1045,
 1260,
 1462,
 1405,
 858,
 868,
 949,
 785,
 1834,
 763,
 761,
 1188,
 1223,
 827,
 1190,
 659,
 1835,
 58,
 1,
 400,
 396,
 1452,
 591,
 1067,
 217,
 305,
 1076,
 1881,
 1196,
 40,
 978,
 551,
 1200,
 621,
 371,
 671,
 890,
 347,
 188,
 558,
 471,
 481,
 967,
 936,
 1186,
 906,
 494,
 148,
 496,
 404,
 403,
 1018,
 521,
 319,
 652,
 236,
 1216,
 1029,
 108,
 132,
 889,
 896,
 49,
 53,
 886,
 517,
 201,
 213,
 26,
 467,
 32,
 1105,
 945,
 993,
 415,
 203,
 606,
 734,
 76,
 663,
 1317,
 996,
 1103,
 1268,
 1251,
 80,
 350,
 664,
 127,
 698,
 1264,
 862,
 888,
 625,
 1323,
 958,
 857,
 332,
 228,
 1467,
 619,
 165,
 255,
 1095,
 1406,
 686,
 950,
 468,
 1473,
 1858,
 1203,
 1226,
 1182,
 1233,
 245,
 445,
 995,
 306,
 295,
 287,
 1230,
 68,
 1460,
 104,
 953,
 781,
 512,
 516,
 786,
 511,
 1238,
 908,
 0,
 1068,
 684,
 1155,
 1075,
 1215,
 398,
 1132,
 1066,
 1159,
 1057,
 919,
 392,
 1461,
 1396,
 897,
 1438,
 810,
 1049,
 999,
 211,
 766,
 14,
 1892,
 965,
 424,
 927,
 1236,
 246,
 248,
 191,
 389,
 588,
 388,
 594,
 824,
 1319,
 272,
 5,
 20,
 408,
 410,
 646,
 705,
 1002,
 589,
 1476,
 1183,
 797,
 1272,
 294,
 513,
 181,
 983,
 918,
 1887,
 240,
 134,
 1111,
 27,
 61,
 1008,
 1005,
 1453,
 1458,
 541,
 95,
 123,
 667,
 249,
 1247,
 746,
 985,
 531,
 1092,
 1218,
 1139,
 1837,
 99,
 1253,
 277,
 687,
 1149,
 250,
 120,
 1031,
 915,
 1213,
 200,
 840,
 887,
 474,
 206,
 900,
 503,
 505,
 991,
 964,
 969,
 465,
 469,
 990,
 1128,
 870,
 540,
 1027,
 508,
 111,
 54,
 263,
 1094,
 1050,
 732,
 280,
 477,
 1371,
 633,
 647,
 752,
 760,
 152,
 735,
 1055,
 744,
 1434,
 871,
 626,
 1298,
 851,
 10,
 1443,
 811,
 770,
 1322,
 1886,
 193,
 351,
 1001,
 789,
 1235,
 976,
 891,
 961,
 1308,
 1309,
 520,
 310,
 275,
 74,
 1035,
 1192,
 105,
 1877,
 1290,
 124,
 774,
 937,
 307,
 528,
 1098,
 792,
 791,
 806,
 354,
 1073,
 1157,
 1112,
 1845,
 807,
 1879,
 604,
 210,
 721,
 21,
 1240,
 242,
 1883,
 702,
 243,
 693,
 252,
 599,
 1228,
 1137,
 1466,
 660,
 1871,
 1114,
 1172,
 841,
 844,
 1249,
 98,
 1176,
 1234,
 185,
 151,
 1185,
 571,
 578,
 1306,
 1468,
 457,
 1119,
 1245,
 460,
 799,
 229,
 848,
 239,
 110,
 45,
 1174,
 909,
 1277,
 1327,
 9,
 56,
 72,
 82,
 707,
 67,
 257,
 225,
 116,
 720,
 126,
 831,
 1006,
 656,
 1007,
 1117,
 930,
 342,
 527,
 412,
 1315,
 1199,
 475,
 725,
 274,
 1229,
 316,
 1256,
 336,
 1160,
 112,
 880,
 441,
 1014,
 894,
 1127,
 547,
 1324,
 1162,
 787,
 118,
 48,
 1259,
 38,
 326,
 327,
 596,
 1248,
 561,
 922,
 291,
 51,
 864,
 874,
 1863,
 635,
 270,
 534,
 1368,
 669,
 960,
 846,
 537,
 163,
 933,
 360,
 1156,
 1147,
 952,
 1077,
 137,
 212,
 510,
 867,
 859,
 453,
 5,
 913,
 610,
 1470,
 878,
 695,
 391,
 253,
 1120,
 238,
 492,
 500,
 1867,
 525,
 1122,
 1849,
 349,
 33,
 764,
 162,
 168,
 195,
 383,
 265,
 1243,
 397,
 904,
 628,
 479,
 565,
 788,
 802,
 748,
 1036,
 1041,
 532,
 381,
 560,
 93,
 261,
 672,
 612,
 620,
 147,
 1296,
 1297,
 1304,
 442,
 607,
 622,
 1004,
 1842,
 1121,
 1250,
 1839,
 1840,
 1271,
 1088,
 150,
 436,
 251,
 970,
 963,
 1175,
 981,
 754,
 526,
 793,
 66,
 155,
 1084,
 1477,
 81,
 489,
 1016,
 31,
 399,
 817,
 302,
 1326,
 1201,
 670,
 1397,
 1026,
 645,
 1320,
 1237,
 769,
 1059,
 623,
 784,
 782,
 931,
 1130,
 286,
 1269,
 373,
 1056,
 278,
 154,
 1145,
 377,
 854,
 842,
 139,
 1054,
 432,
 259,
 470,
 369,
 146,
 1762,
 1761,
 1212,
 84,
 1474,
 73,
 692,
 1262,
 1265,
 418,
 411,
 1270,
 490,
 951,
 1266,
 1875,
 1125,
 883,
 173,
 155,
 1299,
 1760,
 975,
 107,
 166,
 1166,
 480,
 1023,
 204,
 829,
 348,
 856,
 1852,
 572,
 333,
 6,
 368,
 934,
 1404,
 1158,
 611,
 417,
 413,
 602,
 463,
 478,
 914,
 921,
 1015,
 680,
 430,
 662,
 1357,
 1131,
 90,
 681,
 153,
 905,
 717,
 220,
 1375,
 809,
 1227,
 39,
 545,
 959,
 312,
 1885,
 329,
 706,
 485,
 709,
 472,
 1181,
 573,
 756,
 352,
 529,
 1332,
 71,
 1205,
 36,
 437,
 196,
 1291,
 955,
 759,
 219,
 895,
 64,
 808,
 947,
 839,
 794,
 795,
 1178,
 1846,
 1847,
 1850,
 428,
 1017,
 683,
 421,
 1255,
 247,
 838,
 567,
 570,
 879,
 482,
 339,
 1143,
 1220,
 117,
 598,
 1367,
 438,
 235,
 62,
 171,
 1286,
 1288,
 1280,
 1281,
 1293,
 730,
 1451,
 75,
 780,
 172,
 876,
 96,
 35,
 1135,
 297,
 370,
 801,
 1150,
 476,
 893,
 1372,
 654,
 1123,
 550,
 1164,
 595,
 331,
 100,
 198,
 1202,
 925,
 948,
 1044,
 1116,
 1328,
 79,
 88,
 1310,
 727,
 987,
 816,
 42,
 1217,
 962,
 386,
 796,
 1843,
 78,
 539,
 1295,
 1303,
 617,
 1080,
 83,
 493,
 957,
 1195,
 923,
 300,
 154,
 1061,
 358,
 1301,
 1064,
 1046,
 115,
 340,
 552,
 569,
 636,
 223,
 34,
 1305,
 1115,
 762,
 1204,
 343,
 169,
 135,
 586,
 657,
 755,
 101,
 1028,
 234,
 1087,
 603,
 1403,
 491,
 524,
 267,
 822,
 186,
 881,
 553,
 325,
 324,
 1365,
 1449,
 726,
 7,
 1354,
 318,
 222,
 406,
 426,
 1833,
 577,
 262,
 711,
 1140,
 601,
 330,
 87,
 393,
 41,
 427,
 69,
 912,
 649,
 1072,
 224,
 285,
 518,
 855,
 395,
 882,
 1475,
 1318,
 102,
 587,
 903,
 1865,
 1283,
 1311,
 17,
 ...]

In [50]:
onehot = onehot.iloc[:,index_no]

In [51]:
onehot.shape

(6000, 1056)

## Apriori

In [52]:
# Import Apriori algorithm
from mlxtend.frequent_patterns import apriori

In [53]:
# Compute frequent itemsets
#frequent_itemsets1 = apriori(onehot, min_support = 0.0005,max_len = 4, use_colnames = True)
frequent_itemsets = apriori(onehot, min_support = 0.005,max_len = 5, use_colnames = True)

# Print number of itemsets
print(len(frequent_itemsets))

238

In [ ]:
import sys

In [ ]:
sys.getsizeof(frequent_itemsets)

In [ ]:
print(frequent_itemsets.head())

In [54]:
# Import Apriori algorithm
from mlxtend.frequent_patterns import apriori, association_rules

# Compute association rules
Rules = association_rules(frequent_itemsets,
                          metric = "support",
                          min_threshold = 0.005)

In [55]:
# Print association rules
Rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(01220962),(AX1014598),0.058833,0.051167,0.012000,0.203966,3.986306,0.008990,1.191951
1,(AX1014598),(01220962),0.051167,0.058833,0.012000,0.234528,3.986306,0.008990,1.229524
2,(01220962),(3238666),0.058833,0.047333,0.016333,0.277620,5.865220,0.013549,1.318790
3,(3238666),(01220962),0.047333,0.058833,0.016333,0.345070,5.865220,0.013549,1.437050
4,(01220962),(3403800),0.058833,0.047833,0.009500,0.161473,3.375744,0.006686,1.135523
...,...,...,...,...,...,...,...,...,...
1265,(3238204),"(4912590, 3010937, 3238493, 3167216)",0.036833,0.005000,0.005000,0.135747,27.149321,0.004816,1.151283
1266,(3010937),"(4912590, 3238204, 3238493, 3167216)",0.023000,0.005000,0.005000,0.217391,43.478261,0.004885,1.271389
1267,(3238493),"(4912590, 3010937, 3238204, 3167216)",0.036333,0.005167,0.005000,0.137615,26.635099,0.004812,1.153583
1268,(4912590),"(3010937, 3238204, 3238493, 3167216)",0.014833,0.005667,0.005000,0.337079,59.484468,0.004916,1.499927
1269,(3167216),"(4912590, 3010937, 3238204, 3238493)",0.007000,0.012667,0.005000,0.714286,56.390977,0.004911,3.455667

In [56]:
filtered_rules = Rules[(Rules['antecedent support'] > 0.01) & 
                       (Rules['support'] > 0.009) & 
                       (Rules['confidence'] > 0.5) & 
                       (Rules['lift'] > 1.00)]

In [57]:
filtered_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
6,(01220962),(01492967),0.058833,0.066500,0.049500,0.841360,12.652027,0.045588,5.884384
7,(01492967),(01220962),0.066500,0.058833,0.049500,0.744361,12.652027,0.045588,3.681623
16,(3931063),(AX1004458),0.052833,0.061333,0.031333,0.593060,9.669455,0.028093,2.306646
17,(AX1004458),(3931063),0.061333,0.052833,0.031333,0.510870,9.669455,0.028093,1.936430
19,(AX1004458),(4093731),0.061333,0.082500,0.033000,0.538043,6.521739,0.027940,1.986118
...,...,...,...,...,...,...,...,...,...
1081,"(4912590, 3010937)","(3879488, 3238204, 3238493)",0.012833,0.035333,0.012667,0.987013,27.934330,0.012213,74.279333
1083,"(4912590, 3879488)","(3010937, 3238204, 3238493)",0.013500,0.022667,0.012667,0.938272,41.394336,0.012361,15.832800
1084,"(4912590, 3238493)","(3010937, 3238204, 3879488)",0.013333,0.023000,0.012667,0.950000,41.304348,0.012360,19.540000
1086,(3010937),"(4912590, 3879488, 3238204, 3238493)",0.023000,0.013333,0.012667,0.550725,41.304348,0.012360,2.196129
1089,(4912590),"(3010937, 3238204, 3879488, 3238493)",0.014833,0.022667,0.012667,0.853933,37.673496,0.012330,6.690974

In [ ]:
type(filtered_rules)

In [58]:
final_rules = filtered_rules.sort_values('confidence',ascending=False)

In [ ]:
final_rules

In [59]:
final_rules = final_rules.drop(columns = ['antecedent support','consequent support','leverage','conviction'])

In [ ]:
final_rules

## Mapping parts number with description

In [60]:
type(final_rules.iloc[0]['antecedents'])

frozenset

In [61]:
x = final_rules.iloc[0]['antecedents']

In [ ]:
x

In [62]:
temp_list=[]
#temp_list2 = []
for j in range(len(final_rules)):
    x = final_rules.iloc[j]['antecedents']
    temp_list2 = []
    for i in x:
        part_name = part_dict[i][0]
        temp = str(i)+" "+str(part_name)
        temp_list2.append(temp)
    temp_list.append(temp_list2)

In [63]:
temp_list3=[]
#temp_list2 = []
for j in range(len(final_rules)):
    x = final_rules.iloc[j]['consequents']
    temp_list2 = []
    for i in x:
        part_name = part_dict[i][0]
        temp = str(i)+" "+str(part_name)
        temp_list2.append(temp)
    temp_list3.append(temp_list2)

In [64]:
supp=[]
#temp_list2 = []
for j in range(len(final_rules)):
    x = final_rules.iloc[j]['support']
    supp2 = []
    supp2.append(x)
    supp.append(supp2)

In [65]:
conf=[]
#temp_list2 = []
for j in range(len(final_rules)):
    x = final_rules.iloc[j]['confidence']
    conf2 = []
    conf2.append(x)
    conf.append(conf2)

In [66]:
lift=[]
#temp_list2 = []
for j in range(len(final_rules)):
    x = final_rules.iloc[j]['lift']
    lift2 = []
    lift2.append(x)
    lift.append(lift2)

In [67]:
xy = pd.Series(temp_list)
yz = pd.Series(temp_list3)
supp = pd.Series(supp)
conf = pd.Series(conf)
lift = pd.Series(lift)

In [68]:
frame = { 'antecedents': xy, 'consequents': yz, 'support':supp, 'confidence': conf, 'lift':lift }

In [69]:
final_part_output = pd.DataFrame(frame)

In [70]:
final_part_output

,antecedents,consequents,support,confidence,lift
0,"[4912590 STRIP TEST, 3010937 ""SEAL,O RING""]","[3879488 KIT,SUPER BYP.FILTER ELEM]",[0.012833333333333334],[1.0],[27.272727272727273]
1,"[4912590 STRIP TEST, 3879488 KIT,SUPER BYP.FIL...","[3238204 ELEMENT,LUB OIL FILTER]",[0.013333333333333334],[1.0],[27.149321266968325]
2,"[3937743 ""CARTRIDGE,LUB OIL FILTER"", AX1004458...","[4093731 SEPARATOR,FUEL WATER]",[0.030666666666666665],[1.0],[12.121212121212121]
3,"[3010937 ""SEAL,O RING"", 3879488 KIT,SUPER BYP....","[3238204 ELEMENT,LUB OIL FILTER]",[0.023],[1.0],[27.149321266968325]
4,"[3010937 ""SEAL,O RING"", 3238204 ELEMENT,LUB OI...","[3879488 KIT,SUPER BYP.FILTER ELEM]",[0.023],[1.0],[27.272727272727273]
...,...,...,...,...,...
210,"[4093731 SEPARATOR,FUEL WATER]","[3937743 ""CARTRIDGE,LUB OIL FILTER""]",[0.0435],[0.5272727272727272],[12.029035603180088]
211,"[4093731 SEPARATOR,FUEL WATER]","[3937743 ""CARTRIDGE,LUB OIL FILTER"", 3931063 F...",[0.043166666666666666],[0.5232323232323232],[12.12121212121212]
212,"[5285612 CARTRIDGE,LUB OIL FILTER]","[3931063 FILTER,FUEL]",[0.0095],[0.5229357798165137],[9.897838103782593]
213,[AX1004458 PREMIUM BLUE CI4 PLUS 15W40 5 LTR],"[3931063 FILTER,FUEL, 4093731 SEPARATOR,FUEL W...",[0.03133333333333333],[0.5108695652173912],[9.856004473647419]
214,[AX1004458 PREMIUM BLUE CI4 PLUS 15W40 5 LTR],"[3931063 FILTER,FUEL]",[0.03133333333333333],[0.5108695652173912],[9.66945549307365]

In [71]:
final_part_output.to_csv('JC6000_out.csv')

## ***************************************

In [72]:
boolarr = final_rules['antecedents'] == final_rules['consequents']

In [73]:
boolarr.sum()

0

In [ ]:
column_names = final_rules.columns

In [ ]:
result_df = pd.DataFrame(columns=column_names)

In [ ]:
len_of_df = len(final_rules)

In [ ]:
len_of_df

In [ ]:
result_df = pd.DataFrame(0, index=np.arange(len_of_df), columns=column_names)

In [ ]:
result_df

In [ ]:
result_df

In [ ]:
def csv_output(final_dataframe,part_dict,df_result):
    
    
    for index_number in range(len(final_dataframe)):
        x = final_dataframe.iloc[index_number]['antecedents']
        y = final_dataframe.iloc[index_number]['consequents']
        for i in x:
             part_name = part_dict[i][0]
             temp_a = str(i)+" "+str(part_name)
             df_result.iloc[index_number]['antecedents'] = temp_a
        for i in y:
             part_name = part_dict[i][0]
             temp_c = str(i)+" "+str(part_name)
             df_result.iloc[index_number]['consequents'] = temp_c
    df_result['support'] = final_dataframe['support']
    df_result['confidence'] = final_dataframe['confidence']
    df_result['lift'] = final_dataframe['lift']
    return df_result

In [ ]:
tmpo_out = csv_output(final_rules,part_dict,result_df)

In [ ]:
tmpo_out